@import "tailwindcss";

@theme {
  /* Colors are defined with nested objects using standard CSS nesting */


  /* Other theme variables */
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}